<template>
  <div>
    <div :key="ele.recordid" v-for="(ele) in city">
        {{ele.fields.city}}
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    data(){
        return{
        }
    },
    computed:{
        ...mapGetters({
            city: "getCities"
        })
    },
    mounted(){
        this.$store.dispatch('loadCities')
    }
}
</script>

<style scoped>
</style>
